.backText a{
    color: white;
    text-decoration: none;
}
.backText{
    padding :1% 0;
}
.detail-content .cover-img img{
    object-fit: cover;
     width: 100%;
     height: 400px;
}
.detail-content{
    border-top: 4px solid #2ad3ff;
    padding-bottom: 3%;
    margin-bottom: 3%;
    background-color: #FFF;
}
.content{
    padding:3%;
}
.title{
    font-weight: 900;
}
.chat{
    color: #0087aa;
    font-size: 12px;
    text-decoration: none;
}
.relatedMovie img{
    height: 200px;
}
.relatedMovie a{
    text-decoration: none;
}

