<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="backText"><a href="/cardList">< Back</a></div>
        </div>
    </div>
    <div class="detail-content">
        <div class="row">
            <div class="col-12">
                <div class="cover-img">
                <img src="https://image.tmdb.org/t/p/w500/{{detail[0].backdrop_path}}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="content">
                    <h3 class="title">{{detail[0].title}}</h3>
                    <p>{{detail[0].overview}} </p>
                    <a href="javascript:location.reload (true)" class="chat" title="Chat"><span><i class="fa fa-commenting-o fa-lg" aria-hidden="true"></i> Chat></span></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="javascript:location.reload (true)" class="chat" title="Social media"><span><i class="fa fa-share-alt" aria-hidden="true"></i> Social media></span></a>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-12 p-5">
                <hr/>
                <h3>Related Videos</h3>
               
                <div class="row">   
                    
                    <!-- Modal gallery -->
                    <div class="col-lg-4 col-md-12 mb-5 relatedMovie" *ngFor="let data of relatedData">
                        <a href="detail/{{data.id}}">
                            <img
                          src="https://image.tmdb.org/t/p/w500/{{data.poster_path}}"
                          class="w-100 shadow-1-strong rounded mb-2"
                          alt="Poster Photo"
                             />
                            <p>{{data.title}}</p>
                        </a>
                      </div>
                    
                      <div class="col-lg-4 mb-4 mb-lg-0">
                    <!-- Modal gallery -->
                </div>

            </div>
        </div>
    </div>
</div>